body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  align-content: center;
}

button {
  margin: 0px auto;
  background: white;
  border: 1px solid #eee;
  align-items: center;
  padding: 10px;
  display: block;
}